* {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;


}

.App {
  overflow: scroll !important;

  width: 100vw;
  top: 0;
  color: black;
  background: #DE6262;

  background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);

  background: linear-gradient(to right, #FFB88C, #DE6262);




  height: 100vh;
  text-align: center;

  .search-button {}

  .container {}

  .recipes {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
  }


}

.conteiner {
  max-width: 1500px;
  margin: 0 auto;
}